<nav>
  <h2>
    <a href="{% url 'index' %}">
      Quorum App
    </a>
  </h2>

  <ul class="nav nav-pills flex-column">
    <a href="{% url 'index' %}">
      <li>Home</li>
    </a>
    <a href="{% url 'bill_vote_result' %}">
      <li>Bills votes</li>
    </a>
    <a href="{% url 'legislator_vote_result' %}">
      <li>Legislators votes</li>
    </a>
    <a href="{% url 'legislator_list' %}">
      <li>Legislators</li>
    </a>
    <a href="{% url 'bill_list' %}">
      <li>Bills</li>
    </a>
  </ul>
</nav>
