{% extends "base.html" %}

{% block main %}
<h1>{{ bill.number }} - {{ bill.title }}</h1>

<section>
  <ul>
    <li>Origin: {{ bill.get_origin_display }}</li>
    {% if bill.sponsor %}
      <li>Sponsor: {{ bill.sponsor }}</li>
    {% else %}
      <li>Sponsor: Uninformed</li>
    {% endif %}
  </ul>

  <div class="table-component">
    <table>
      <thead>
        <th>Supporters of the bills</th>
        <th>Opposers of the bills</th>
      </thead>
      <tbody>
        {% for supported, opposed in legislators %}
          <tr>
            <td>{{ supported }}</td>
            <td>{{ opposed }}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

</section>

{% endblock %}
